body{
	background-image: url("intro.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-color: #3366b7;
}

h2{
	text-align: center;
	font-size: xx-large;
}

h1{
	text-align: center;
	margin-top: 400px;
}